@font-face {
    font-family: "MADE-Sunflower";
    src: url("/fonts/MADE-Sunflower.otf");
}

body {
    background-color: #AEAEAE;
    font-family: "MADE Sunflower";

    @media (min-width: 550px) {
        background-color: turquoise;
    }
}

img {
    width: 100%;
}

.container {
    padding: 20px;
}

.top {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: red;
        font-size: 36px;
        transform: rotateZ(15deg);

        @media (min-width: 550px) {
            font-size: 8vw;
        }
    }
}

.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @media (min-width: 550px) {
        flex-direction: row;
        justify-content: space-between;
    }

    &-top-image {
        width: 100%;
        margin-bottom: 20px;

        @media (min-width: 550px) {
            width: 49%;
            clip-path: polygon(50% 0%, 61% 35%, 100% 0, 85% 57%, 79% 91%, 50% 84%, 21% 91%, 23% 61%, 0 51%, 28% 29%);
        }
    }

    &-top-image:hover {

        @media (min-width: 550px) {
            width: 49%;
            clip-path: polygon(50% 0%, 71% 27%, 99% 57%, 68% 57%, 79% 91%, 50% 81%, 21% 91%, 21% 59%, 0 12%, 30% 32%);
        }
    }

    &-second-images {
        display: flex;
        justify-content: space-between;

        @media (min-width: 550px) {
            width: 49%;
        }
    }

    &-second-image-s {
        width: 36%;
    }

    &-second-image-m {
        width: 60%;
    }
}

.about {
    width: 100%;

    p {
        font-size: 17px;
        line-height: 126%;

        @media (min-width: 550px) {
            font-size: 6vw;
            line-height: 5vw;
        }
    }
}

.contacts {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-headline {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            color: red;
            font-size: 36px;
            transform: rotateZ(15deg);

            @media (min-width: 550px) {
                font-size: 8vw;
            }
        }
    }

    &-buttons {
        width: 100%;
        display: flex;
        flex-direction: column;

        @media (min-width: 550px) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        a {
            text-decoration: none;
        }
    }

    &-button {
        background-color: yellow;
        border: 1px solid black;
        border-radius: 18px;
        padding: 22px;
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;
        color: black;

        @media (min-width: 550px) {
            margin: 1vw;
            width: 25vw;
            font-size: 3vw;
        }
    }

    &-button:hover {
        opacity: 0.5;
    }
}

.check-this {
    background-color: rgb(207, 233, 115);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 400px;
    right: 300px;
    box-shadow: 0px 4px 14px;
    animation: radius-animation 0.5s infinite alternate;

    a {
        text-decoration: none;
        color: black;
    }
}

@keyframes radius-animation {
    from {
        border-radius: 50%;
    } to {
        border-radius: 30%;
    }
}